streamlit
torch
torchaudio
pyaudio
wave
soundfile
sounddevice
asyncio
edge-tts
numpy
pydub
langchain>=0.0.300
langchain-google-genai>=0.0.5
pydantic>=1.10,<2.0
google-cloud>=0.34.0
pycryptodome
pycryptodomex
nltk